<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.KeyWordsMapper">
    <select id="listForAll" resultType="KeyWords">
        select pid,Content from keywords order by pid
    </select>

    <insert id="addKeyWords" parameterType="String">
        insert into keywords(Content) values (#{Content});
    </insert>


    <delete id="deleteById" parameterType="Integer">
        delete
        from keywords
        where pid = #{id};
    </delete>
</mapper>
